/* template overrides */
.post{
   max-width: 1000px;
}


/* main content */

.img-800-center{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border-width: 0px;
    border-style: none;
}

.img-inline-right{
    float: right;
    margin-left: 8px;
    margin-right: 8px;
    border-width: 0px;
    border-style: none;
}

li {
    font-size: 0.9em;
}

h3, h4 {
    margin-top: 40px;
}


/* header and navigation *********/
.site-header {
     background-color: rgba(22, 33, 74, 0.77);
     z-index: 998;
     position: fixed;
     top: 0;
     height: 30px;
     width: 100%;
     display: block;
     font-family: arial;
}

 .site-header a:hover {
     color: #afadad;
     text-decoration: none;
}
 navbar {
     overflow: hidden;
}
 .navbar-spacer {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     width:30px;
     height:30px;
     display: inline-block;
    /*border: #bfc8cd 1px solid;
     */
}
 .navbar-logo img{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     display: inline-block;
     height: 30px;
     width: 30px;
     opacity: 0.8;
     position: fixed;
     margin-left: 4px;
     margin-top: 0px;
}
 .nav-section {
     padding-left: 15px;
     font-size: 0.8em;
     font-weight: 400;     
     display: inline-block;     
}
 .nav-section-right {
     font-weight: 400;
     float:right;
     padding-right: 15px;
}
 .nav-link {
     color: #e1e0f7;
     transition: ease-in-out color .15s;
     text-decoration: none;     
}
 .menubar-icon {
     color: #e1e0f7;
     transition: ease-in-out color .15s;          
     display: none;
}
 .nav-link:hover {
     color: #afadad;
     text-decoration: none;
}
/* Menu drop downs */
 .nav-dropdown {
     position: relative;
}
 .nav-dropdown-content {
     display: none;
     position: absolute;
     font-size: 1.2em;
     background-color: rgba(22, 33, 74, 0.77);
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
 .nav-dropdown-content a {
     color: #e1e0f7;
     transition: ease-in-out color .15s;
     text-decoration: none;
     padding-left: 15px;
     font-size: 0.8em;
     font-weight: 400;
     display: block;
}
 .nav-dropdown-content a:hover {
}
 .nav-dropdown:hover .nav-dropdown-content {
     display: block;
}
/* responsive menu media queries **************/
 @media screen and (max-width: 600px) {
     .navbar div:not(:first-child) {
         display: none;
    }
     .navbar div.menubar-icon {
         float: right;
         display: block;
    }
}
 @media screen and (max-width: 600px) {
     .navbar.responsive {
         position: relative;
    }
     .navbar.responsive div.menubar-icon {
         position: absolute;
         right: 0;
         top: 0;
         height: 30px;
    }
     .navbar.responsive a {
         float: none;
         display: block;
         text-align: left;
    }
     .navbar.responsive div {
         float: none;
         display: block;
         text-align: left;
    }
    .navbar.responsive div.nav-section {
       display: block;    
       background-color: rgba(22, 33, 74, 0.77);        
     }
     .navbar.responsive div.nav-dropdown-content {
         display: none;
     }
}

/* Edit me button */
 a.button{
     background: #4255de;
     border-radius: 10px;
     padding: 5px 8px;
     display: block;
     font-family: arial;
     font-weight: 400;
     font-size:0.8em;
     line-height: 1.4em;
     color:#e6e6e6;
     text-decoration: none;
     text-shadow:0px 1px 0px #151b6a;
     border:1px solid #435389;
     width: 145px;
     margin:0px auto;
     box-shadow: 0px 2px 1px #a09cfa inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
     -webkit-transition:box-shadow 0.5s;
}
 a.button i{
     margin-top: 2px;
}
 a.button:hover{
     box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
 a.button:active{
     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
     background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}
 



/*  Tutorial stuff */
.task_header {
    padding-left: 3cm;
    padding-right: 3cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    font-size: 110%;
    background-color: #d1cfcf;
    text-align: center;
}

.tutorial_image{
    max-height: 600px;
    max-width: 600px;  
    float: right;
    margin-left: 8px;
    margin-right: 8px;
    border-width: 0px;
}

#snippetText {
	width:700px;
    height:250px;
	overflow:hidden;
	background-color:#000000;
	color:#e0e0e0;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:16px;
	resize:none;
	line-height:20px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

#tutorial_form_wrapper {
	
	height:auto;
    width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
}



/*------ throbber ------------- */

.throbber_wrapper {
    position:relative;
    top: -300px;
}

.sk-cube-grid {
 
  width: 40px;
  height: 40px;  
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #77B3D4;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

/*------ throbber ------------- */

