/* main content */

.img-inline-right{
    float: right;
    margin-left: 8px;
    margin-right: 8px;
    border-width: 0px;
    border-style: solid;
}

/* header and navigation *********/
.site-header {
     background-color: rgba(22, 33, 74, 0.77);
     z-index: 998;
     position: fixed;
     top: 0;
     height: 30px;
     width: 100%;
     display: block;
     font-family: arial;
}
 .site-header-home {
     background-color: rgba(43, 51, 82, 0.6);
     z-index: 998;
     position: fixed;
     top: 0;
     height: 30px;
     width: 100%;
     display: none;
     font-family: arial;
}
 .site-header a:hover {
     color: #afadad;
     text-decoration: none;
}
 navbar {
     overflow: hidden;
}
 .navbar-spacer {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     width:30px;
     height:30px;
     display: inline-block;
    /*border: #bfc8cd 1px solid;
     */
}
 .navbar-logo img{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     display: inline-block;
     height: 30px;
     width: 30px;
     opacity: 0.8;
     position: fixed;
     margin-left: 4px;
     margin-top: 0px;
}
 .nav-section {
     padding-left: 15px;
     font-size: 0.8em;
     font-weight: 400;     
     display: inline-block;     
}
 .nav-section-right {
     font-weight: 400;
     float:right;
     padding-right: 15px;
}
 .nav-link {
     color: #e1e0f7;
     transition: ease-in-out color .15s;
     text-decoration: none;     
}
 .menubar-icon {
     color: #e1e0f7;
     transition: ease-in-out color .15s;          
     display: none;
}
 .nav-link:hover {
     color: #afadad;
     text-decoration: none;
}
/* Menu drop downs */
 .nav-dropdown {
     position: relative;
}
 .nav-dropdown-content {
     display: none;
     position: absolute;
     font-size: 1.2em;
     background-color: rgba(22, 33, 74, 0.77);
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
 .nav-dropdown-content a {
     color: #e1e0f7;
     transition: ease-in-out color .15s;
     text-decoration: none;
     padding-left: 15px;
     font-size: 0.8em;
     font-weight: 400;
     display: block;
}
 .nav-dropdown-content a:hover {
}
 .nav-dropdown:hover .nav-dropdown-content {
     display: block;
}
/* responsive menu media queries **************/
 @media screen and (max-width: 600px) {
     .navbar div:not(:first-child) {
         display: none;
    }
     .navbar div.menubar-icon {
         float: right;
         display: block;
    }
}
 @media screen and (max-width: 600px) {
     .navbar.responsive {
         position: relative;
    }
     .navbar.responsive div.menubar-icon {
         position: absolute;
         right: 0;
         top: 0;
         height: 30px;
    }
     .navbar.responsive a {
         float: none;
         display: block;
         text-align: left;
    }
     .navbar.responsive div {
         float: none;
         display: block;
         text-align: left;
    }
    .navbar.responsive div.nav-section {
       display: block;    
       background-color: rgba(22, 33, 74, 0.77);        
     }
     .navbar.responsive div.nav-dropdown-content {
         display: none;
     }
}

/* Edit me button */
 a.button{
     background: #4255de;
     border-radius: 10px;
     padding: 5px 8px;
     display: block;
     font-family: arial;
     font-weight: 400;
     font-size:0.8em;
     line-height: 1.4em;
     color:#e6e6e6;
     text-decoration: none;
     text-shadow:0px 1px 0px #151b6a;
     border:1px solid #435389;
     width: 145px;
     margin:0px auto;
     box-shadow: 0px 2px 1px #a09cfa inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
     -webkit-transition:box-shadow 0.5s;
}
 a.button i{
     margin-top: 2px;
}
 a.button:hover{
     box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
 a.button:active{
     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
     background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}
 