{{ partial "header.html" . }}


<!-- Header -->
{{ if .IsHome }}
<header class="main-header " style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
{{else}}
<header class="main-header no-cover">
{{end}}
    
    <nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Blog Logo" /></a>
        {{end}}    
    </nav>    
    <div class="vertical">
            <div class="main-header-content inner">
                <h1 class="page-title">
                  <a class="btn-bootstrap-2 title-scroll" href="#content">{{ .Site.Title }}</a>
              </h1>
              <h2 class="page-description">{{ .Site.Params.description }}</h2>
            </div>
    </div>
        <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
    </header>
    
    
    
<!-- Content -->
<main id="content" class="content" role="main">
    
    {{ .Render "li" }}

</main>

    
<!-- Footer -->    
{{ partial "footer.html" . }}
            
<script>

    $(document).scroll(function() {
      var y = $(this).scrollTop();
      if (y > 100) {
        $('.site-header-home').fadeIn();
      //} else {
        //$('.site-header-home').fadeOut();
      }
    });

</script>
