{{ if .IsHome }}
<div class="site-header-home">
{{ else  }}
<div class="site-header">
{{end}}
    
<nav class="navbar">
    
    {{ $currentPage := . }}
    
    <!-- logo -->
    {{ if .Site.Params.logo }}
        <a class="navbar-logo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Blog Logo" /></a>
        <span class="navbar-spacer">&nbsp;</span>
    {{end}}  
    
    <!-- home link -->
    <a class="nav-link" href="/" title="Home"><i class="fas fa-home"></i> Home</a> 
    
    {{ range .Site.Menus.main }}     
       
        {{ if eq .Page nil }}
        <!-- If a section -->
    
            {{ if eq .Name "Pages"}}
                <!-- Hide "Pages" section -->
            {{ else }}
                <!-- Render section menu -->
                <div class="nav-dropdown">
                <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}"> {{ .Name }}</a>
                {{if .Children }}    
                    <!-- Render section children dropdown -->
                  <div class="nav-dropdown-content">
                    {{ range .Children }}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}                
                  </div>
                {{ end }}
                </div>       
            {{ end }}
    
        {{ else }}
        <!-- If a stand-alone page -->
            <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}"><i class="fas fa-{{.Page.File.BaseFileName}}"></i> {{ .Name }}</a> 
        {{ end }}
    
    {{ end }}
         
    
    <a class="nav-link-right" href="{{.Site.Params.gitbase}}{{.File.Path}}" target="_blank"><i class="fas fa-edit"></i> Edit</a>        
    
    
  </nav>
</div>     

