
<div class="site-header">
    
<nav class="navbar" id="navbar">
    
    {{ $currentPage := . }}
    
    <!-- logo -->
    {{ if .Site.Params.logo }}
    <div class="nav-section">
        <a class="navbar-logo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Blog Logo" /></a>
        <span class="navbar-spacer">&nbsp;</span>
    </div>
    {{end}}  
    
    <!-- home link -->
    <div class="nav-section">
        <a class="nav-link" href="/" title="Home"><i class="fas fa-home"></i> Home</a> 
    </div>
    
    {{ range .Site.Menus.main }}     
    
        <!-- Render section menu -->
            {{ if eq .Name "Pages"}}
                <!-- Hide "Pages" section -->
            {{ else }}
                <div class="nav-section">
                    <div class="nav-dropdown">
                            <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .Page.Permalink }}" title="{{ .Title }}"> {{ .Name }}</a>
                            {{if .Children }}    
                                <!-- Render section children dropdown -->
                              <div class="nav-dropdown-content">
                                {{ range .Children }}
                                    <a href="{{ .Page.Permalink }}">{{ .Name }}</a>
                                {{ end }}                
                              </div>
                            {{ end }}
                    </div>
                </div>       
            {{ end }}
    
    
    {{ end }}
         
    <div class="nav-section nav-section-right menubar-icon">
        <a class="nav-link" href="javascript:void(0);" onclick="menubarBurgerClick()">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    
    <div class="nav-section nav-section-right">
        <a class="nav-link" href="{{.Site.Params.gitbase}}{{.File.Path}}" target="_blank"><i class="fas fa-edit"></i> Edit</a>        
    </div>
  </nav>
</div>     

