{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}



<main id="content" class="content" role="main">
        
    {{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
    {{ partial "pagination.html" $paginator }}
	</div>
    
	{{ range $index, $page := $paginator.Pages }}
	   {{ if not (and .Params.hidden (eq .Params.hidden true)) }}
	      {{ .Render "li" }}
	   {{ end }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}
