{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}



<main id="content" class="content" role="main">
    
    
        
    {{ $paginator := .Paginator }}
    
    <article class="post {{ .Section }}">
        <header class="post-header">
            <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        </header>
    
     {{ .Content }}

	<div class="extra-pagination inner">
    {{ partial "pagination.html" $paginator }}
	</div>
    
	{{ range $index, $page := $paginator.Pages }}
        <hr/>
        <h4><a href="{{.RelPermalink}}">{{ $page.Title }}</a></h4>	   
        <section class="post-excerpt">                      
            {{ .Summary }} <a class="read-more" href="{{.RelPermalink}}">&raquo; Go to tutorial</a>          
        </section>        
	{{ end }}
        
    </article>

	{{ partial "pagination.html" $paginator }}
</main>



{{ partial "footer.html" . }}
